.cursor:hover {
  cursor: pointer;
  color: gold;
}


header {
  border-bottom: 0.2px solid $box-bg;
}

.set-box {
  padding: 20px;
  border-radius: 20px;
  border-radius: 15px;
  background-color: $box-bg;
  margin-bottom: 30px;
  transition: .5s;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.5);

  &:hover {
    cursor: pointer;
    color: gold;
  }

  &:hover circle {
    stroke: gold;
  }

  .set-title {
    font-size: 24px;
  }

  .problem-number {
    font-size: 14px;
  }
}

.skill {
  height: 80px;
  width: 80px;
  position: relative;
}

.outer {
  height: 80px;
  width: 80px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center; 
  border-radius: 50%;
  box-shadow: inset 0px 0px 39px 7px #1F1F2B;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
}

.inner {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#number {
  font-weight: 600;
  color: $text-color;
}

circle {
  fill: none;
  stroke: $text-color;
  stroke-width: 5px;
  stroke-dasharray: 260;
  stroke-dashoffset: 260;
  transition: stroke-dashoffset 2s linear;
}

svg {
  position: absolute;
}

.left-box {
  padding: 0 15px;
  .nav {
    width: 100%;
    background-color: #303041;
    border-radius: 10px;

    .nav-link {
      color: #5F5F75;
      padding: 15px;
      border-bottom: 1px solid #1F1F2B;
      text-align: left;
      font-size: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:hover {
        color: #5255d1;
      }
    }

    .active {
      background-color: transparent !important;
      color: white;
    }
  }
}

.right-box {
  padding: 0 25px;
  .row {
    padding: 20px 10px;
    border-radius: 10px;
    background-color: #303041;
  }
  .home-text {
    text-align: justify;
  }
  .editor {
    display: flex;
    flex-flow: row wrap;
    width: 100%; 
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);

    .gutter {
      background: $hover-color;
      color: $text-color;
      border-radius: 10px 0 0 10px;
      display: flex;
      flex-flow: column wrap;
      padding: 10px 5px 0;
    
      span {
        padding: 1rem 0.5rem 0;
        color: $text-color;
      }
    }

    textarea {
      background: $body-bg;
      min-height: 460px;
      flex: 1;
      border-radius: 0 10px 10px 0;
      font-size: 18px;
      border: 0;
      color: white;
      padding: 20px 1rem;
      line-height: 2.2;
      overflow: hidden;
      -moz-tab-size : 2;
      -o-tab-size : 2;
      tab-size : 2;
      &:focus {
        outline: none
      }
    }
  }

  #result {
    height: 230px;
    border-radius: 8px;
    padding: 20px;
    background-color: $body-bg;
    overflow: auto;
  }
}